* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

*::selection {
    color: #fff;
    background-color: black;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F7F7F7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;
    padding: 24px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}
#nav-part2 #links a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: 520;
    font-size: 14px;
    margin: 0 25px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(231, 226, 236, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    /* scale: 0; */
}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    /* padding-right: 0%; */
    padding: 0 1.5vw;
    padding-top: 29.4vh;
}

#page1 h1 {
    font-size: 16vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -11px;
}

#video-container {
    height: 100vh;
    width: 100%;
    /* background-color: grey; */
    margin-top: 1vw;
    position: relative;

}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.4vw;
    background-color: black;
    color: #fff;
    font-size: 1.2vw;
    position: fixed;
    font-family: futura;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(122, 179, 230); */
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 32.4%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
}

#page2 .elem .dets {
    height: 50px;
    border-radius: 50px;
    width: 65%;
    position: absolute;
    z-index: 1;
}

#dets_1{
    background-color: rgb(245, 223, 207);
}
#dets_2{
    background-color: rgb(229, 240, 214);
}
#dets_3{
    background-color: rgb(255, 255, 255);
}

#page2 .elem .dets:hover{
    height: 200px;
}

@media (max-width:600px) {
    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 2.9vw;
        padding-top: 34.5vh;
    }
   
    #page1 h1 {
        font-size: 15.2vw;
        text-transform: uppercase;
        font-family: futura;
        line-height: 13.2vw;
        letter-spacing: -2px;
        word-spacing: -2px;
    }

    #video-container {
        height: 40vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 10.2vw 8.3vw;
        font-size: 3.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        /* background-color: rgb(122, 179, 230); */
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw 3vw;
        justify-content: space-between;
        /* background-color: red; */
    }
    
    #page2 .elem {
        height: 100vh;
        width: 100%;
        margin-bottom: 3vw;
        overflow: hidden;
    }
}